.wrapper
  each src, index in ['https://images.unsplash.com/photo-1614348532352-c5dd2ad60420?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTk5MzIwMTJ8&ixlib=rb-4.0.3&q=85', 'https://images.unsplash.com/photo-1566681682641-af84728ee122?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTk0NTY1NjR8&ixlib=rb-4.0.3&q=85', 'https://images.unsplash.com/photo-1616093266211-d98e19d1f5bc?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTk0NTY2MDd8&ixlib=rb-4.0.3&q=85']
    input(checked=index === 0, type='radio', name='bento', value='box-' + index, id='box-' + index)
    label.box(for='box-' + index, data-index=index + 1, style=`background-image: url(${src})`)  