.smoke {
	zoom: 2;
	--font-size: 20px;
	font-weight: 500;
	line-height: var(--font-size);
	color: #292C3D;
	display: block;
	font-size: var(--font-size);
	letter-spacing: 0.0075em;
	div {
		display: flex;
		span {
			display: block;
			backface-visibility: hidden;
			$i: 1;
			@while $i < 12 {
				&:nth-child(#{$i}) {
					--d: #{$i / 20 + s};
				}
				$i: $i + 1;
			}
		}
	}
	--move: 24px;
	--move-y: -16px;
	--blur: 6px;
	&.active {
		span {
			--duration: 1.25s;
			animation: smoke var(--duration) linear var(--d);
		}
	}
}

@keyframes smoke {
	45%,
	55% {
		filter: blur(var(--blur));
	}
	50%,
	50.1% {
		opacity: 0;
	}
	25%,
	75% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(var(--move)) translateY(var(--move-y));
	}
	50.1% {
		transform: translateX(calc(var(--move) * -1));
	}
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: inherit;
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

// Center & dribbble
body {
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	font-family: 'Onest', Arial;
	justify-content: center;
	align-items: center;
	background: #F9FAFA;
	.twitter {
		position: fixed;
		display: block;
		right: 20px;
		bottom: 20px;
		svg {
			width: 32px;
			height: 32px;
			fill: #1da1f2;
		}
	}
}