* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--bg: hsl(0,0%,90%);
	--fg: hsl(0,0%,10%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (32 - 16) * (100vw - 240px) / (1920 - 240));
}
body,
button {
	color: var(--fg);
	font: 1em/1.5 "DM Sans", sans-serif;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}
body {
	background-color: var(--bg);
	transition: background-color var(--trans-dur);
}
button {
	outline: transparent;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
main {
	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	> svg {
		position: fixed;
	}
}
.toolbar {
	background-color: var(--fg);
	border-radius: 1em;
	display: inline-flex;
	gap: 0.125em;
	align-items: center;
	position: relative;
	padding: 0.125em;
	min-width: 2em;
	height: 2em;
	transition: background-color var(--trans-dur);

	&__button {
		background-color: hsla(0,0%,50%,0);
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		position: relative;
		width: 1.75em;
		height: 1.75em;

		&[aria-pressed="false"] {
			&:hover {
				background-color: hsla(0,0%,50%,0.5);
			}
		}
		&-tip {
			background-color: var(--fg);
			border-radius: 0.5625rem;
			color: var(--bg);
			font-size: 0.625em;
			line-height: 1;
			margin-top: 0.375rem;
			opacity: 0;
			padding: 0.25rem 0.5rem;
			pointer-events: none;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%,-25%);
			transition:
				background-color var(--trans-dur),
				color var(--trans-dur),
				opacity var(--trans-dur),
				transform var(--trans-dur),
				visibility var(--trans-dur);
			visibility: hidden;
		}
		&:focus-visible &-tip,
		&:hover &-tip {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%,0);
		}
	}
	&__highlight {
		background-color: hsl(0,0%,100%);
		border-radius: 0.875em;
		margin: 0.125em;
		mix-blend-mode: difference;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 1.75em;
		height: 1.75em;
		transition: background-color var(--trans-dur);

		[dir="rtl"] & {
			right: 0;
			left: auto;
		}
	}
	&__icon {
		color: var(--bg);
		display: block;
		margin: auto;
		width: 1em;
		height: auto;
		transition: color var(--trans-dur);
	}
	&--vertical {
		flex-direction: column;
		width: 2em;
		min-height: 2em;
		height: auto;
	}
	&--vertical &__button-tip {
		margin-inline-start: 0.375rem;
		margin-top: 0;
		top: 50%;
		left: 100%;
		transform: translate(-25%,-50%);

		[dir="rtl"] & {
			right: 100%;
			left: auto;
			transform: translate(25%,-50%);
		}
	}
	&--vertical &__button:focus-visible &__button-tip,
	&--vertical &__button:hover &__button-tip {
		transform: translate(0,-50%);
	}
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(0,0%,10%);
		--fg: hsl(0,0%,90%);
	}
}

/* Beyond mobile */
@media (min-width: 768px) {
	main {
		flex-direction: row;
	}
}