main {
	max-width: 480px;
	margin: 4dvh auto;
	
}

.list-container {
	view-transition-name: list-container-transition;
	padding: 4px;
	box-shadow: inset 0 0 0 1px hsla(240, 30%, 50%, .1);
	border-radius: 11px;
}

::view-transition-group(list-container-transition) {
	animation-duration: 0.4s;
}

::view-transition-old(list-container-transition) {
	display: none;
}

::view-transition-new(list-container-transition) {
	animation: none;
	opacity: 1;
	overflow: hidden;
}

.list-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-gap: 4px;
}

.list-container li {
	contain: layout paint;
	padding: 8px 16px;
	line-height: 21px;
	background-color: hsla(240, 90%, 99%, .9);
	border-radius: 7px;
	box-shadow: inset 0 0 0 1px hsla(240, 30%, 50%, .1);
}

.content-below {
	margin-top: 24px;
}

.toolbar {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 20px;
	margin: 24px 0;
}

button {
	padding: 8px 16px;
	margin: 0;
	line-height: 21px;
	border-radius: 7px;
	border: none;
	background-color: hsla(240, 90%, 99%, .9);
	color: hsl(240, 20%, 25%);
	font-weight: 500;
	font-size: 14px;
	box-shadow: 0 0 0 1px hsla(240, 30%, 50%, .15);
	transition: background-color 0.2s ease;
	cursor: pointer;
}

button:hover {
	background-color: hsla(240, 90%, 98%, 1);
}

body {
	padding: 24px;
	background-color: hsl(240, 70%, 97%);
}

* {
	box-sizing: border-box;
}