* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--sat: 10%;
	--gray0: hsl(0,0%,100%);
	--gray1: hsl(var(--hue),var(--sat),90%);
	--gray2: hsl(var(--hue),var(--sat),80%);
	--gray3: hsl(var(--hue),var(--sat),70%);
	--gray4: hsl(var(--hue),var(--sat),60%);
	--gray5: hsl(var(--hue),var(--sat),50%);
	--gray6: hsl(var(--hue),var(--sat),40%);
	--gray7: hsl(var(--hue),var(--sat),30%);
	--gray8: hsl(var(--hue),var(--sat),20%);
	--gray9: hsl(var(--hue),var(--sat),10%);
	--trans-dur: 0.3s;
	font-size: clamp(1rem,0.95rem + 0.25vw,1.25rem);
}
body {
	background-color: var(--gray0);
	color: var(--gray9);
	display: flex;
	font: 1em/1.5 sans-serif;
	height: 100vh;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}
.hand {
	$debug: false;

	@if $debug == true {
		outline: 1px solid var(--gray5);
	}
	--anim-dur: 1s;
	--anim-timing: cubic-bezier(0.65,0,0.35,1);
	display: block;
	margin: auto;
	width: 9.6em;
	height: auto;

	&__finger {
		&,
		&-inner {
			animation: {
				duration: var(--anim-dur);
				timing-function: var(--anim-timing);
				iteration-count: infinite;
			};
		}
		&-inner {
			animation-name: finger-inner;
			fill: var(--gray4);
		}
		&--pinky {
			animation-name: pinky;
		}
		&--pinky,
		&--pinky &-inner {
			animation-delay: calc(var(--anim-dur) * 0.16);
		}
		&--ring {
			animation-name: ring;
		}
		&--ring,
		&--ring &-inner {
			animation-delay: calc(var(--anim-dur) * 0.12);
		}
		&--middle &-inner {
			animation-delay: calc(var(--anim-dur) * 0.08);
		}
		&--index {
			animation-name: index;
		}
		&--index,
		&--index &-inner {
			animation-delay: calc(var(--anim-dur) * 0.04);
		}
		&--thumb &-inner {
			animation-name: thumb-inner;
		}
	}
	&__finger-inner,
	&__nail,
	&__skin {
		transition: fill var(--trans-dur);
	}
	&__nail {
		fill: var(--gray0);
	}
	&__skin {
		fill: var(--gray2);
	}
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--gray9);
		color: var(--gray1);
	}
	.hand {
		&__finger {
			&-inner {
				fill: var(--gray9);
			}
		}
		&__nail {
			fill: var(--gray5);
		}
		&__skin {
			fill: var(--gray7);
		}
	}
}

/* Animations */
// using CSS variables to change timing functions won’t work :(
$ease-in: cubic-bezier(0.32,0,0.67,0);

@keyframes finger-inner {
	from,
	80%,
	to {
		transform: translate(0,0);
	}
	40% {
		animation-timing-function: $ease-in;
		transform: translate(0,-3px);
	}
}
@keyframes thumb-inner {
	from,
	80%,
	to {
		transform: translate(0,0) skewY(0);
	}
	40% {
		animation-timing-function: $ease-in;
		transform: translate(-0.5px,-3px) skewY(-15deg);
	}
}
@keyframes pinky {
	from,
	80%,
	to {
		transform: translate(0,3.5px);
	}
	40% {
		animation-timing-function: $ease-in;
		transform: translate(0,1.2px);
	}
}
@keyframes ring {
	from,
	80%,
	to {
		transform: translate(6.5px,1.8px);
	}
	40% {
		animation-timing-function: $ease-in;
		transform: translate(6.5px,0.5px);
	}
}
@keyframes index {
	from,
	80%,
	to {
		transform: translate(19.5px,2.5px);
	}
	40% {
		animation-timing-function: $ease-in;
		transform: translate(19.5px,1.2px);
	}
}