$amaranth: #ee313d;
$dandelion: #ffd862;
$flamingo: #f2623e;
$old-brick: #8d2036;
$tall-poppy: #b22634;
$white: #ffffff;

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.pnf {
  font-size: 30px;
  position: relative;
  overflow: hidden;
  width: 11.625em;
  height: 11.625em;
}

.pnf__chat {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.9375em;
  width: 3.1875em;
  display: flex;
  justify-content: space-between;
}

.pnf__chatBubble {
  display: block;
  width: 0.9375em;
  height: 0.9375em;
  border-radius: 50%;
  background-color: $amaranth;
  animation: chatting 2s infinite;

  &:nth-child(1) {
    animation-delay: -1s;
  }

  &:nth-child(2) {
    animation-delay: -0.85s;
    background-color: $old-brick;
  }

  &:nth-child(3) {
    animation-delay: -0.7s;
  }
}

.pnf__column {
  --color-first-head: #{$tall-poppy};
  --color-second-head: #{$old-brick};

  position: relative;
  width: 100%;
  height: 50%;
  background-color: $amaranth;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &::before,
  &::after {
    content: "";
    position: relative;
    width: 50%;
    height: 2.90625em;
    width: 5.8125em;
  }

  &::before {
    background-color: $dandelion;
    border-radius: 0 0 2.90625em 2.90625em;
  }

  &::after {
    left: 0.53125em;
    background-color: $white;
    border-radius: 2.90625em 2.90625em 0 0;
  }
}

.pnf__column:nth-child(2) {
  --color-first-head: #{$old-brick};
  --color-second-head: #{$tall-poppy};
  background-color: $flamingo;

  &::before {
    right: 0.53125em;
    background-color: $white;
  }

  &::after {
    left: unset;
    background-color: $dandelion;
  }
}

.pnf__head {
  position: absolute;
  left: 0;
  height: 100%;
  width: 2.375em;
  border-radius: 0 2.375em 0 0;
  background-color: var(--color-first-head);

  &::before {
    content: "";
    display: block;
    width: 3.0625em;
    height: 3.6875em;
    border-radius: 0 3.0625em 0 0;
    background-color: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2em;
    left: 1.25em;
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    background-color: $white;
  }

  &:nth-child(2) {
    left: unset;
    right: 0;
    transform: scaleX(-1);
    background-color: var(--color-second-head);
  }
}

@keyframes chatting {
  10% {
    transform: translateY(-0.625em);
  }
  50% {
    transform: translateY(0);
  }
}