%main#main
	.before
	.after
	%ul#one
		%li.one
			.container
				.notification
					%span.before
					%span.after
					%header
						%h2 Messages
						%span.timestamp Now
					.content
						%span.sender Gabrielle Wee
						%span.message Check it out! ✨
						%span.more 2 more messages from Gabrielle
		%li.two
			.container
				.notification
					%span.before
					%span.after
		%li.three
			.container
				.notification
					%span.before
					%span.after
	%ul#two
		%li.one
			.container
				.notification
					%span.before
					%span.after
					%header
						%h2 Calendar
						%span.timestamp 1h ago
					.content
						%span.event WWDC 2018
						%span.date June 4, 2018 at 10:00 AM
						%span.more 2 more invitations
		%li.two
			.container
				.notification
					%span.before
					%span.after
		%li.three
			.container
				.notification
					%span.before
					%span.after
	%ul#three
		%li.one
			.container
				.notification
					%span.before
					%span.after
					%header
						%h2 Twitter
						%span.timestamp 2h ago
					.content
						%span.user Gabrielle Wee
						%span.message Dark Mode for iOS would be so cool!
						%span.more 2 more notifications
		%li.two
			.container
				.notification
					%span.before
					%span.after
		%li.three
			.container
				.notification
					%span.before
					%span.after